.customers {
    background-color: #FFFFFF;
}

.customers__title {
    box-sizing: content-box;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 201px;
    height: 42px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    padding-bottom: 50px;
    padding-top: 94px;
}