.newsletter-form {
    display: flex;
    flex-direction: row;
    padding-left: 74px;
    padding-top: 108px;
    padding-bottom: 94px;
}

.newsletter-form__fieldset {
    display: flex;
    position: relative;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.newsletter-form__label {
    position: absolute;
    top: -36px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.newsletter-form__input {
    background-color: #2F303A;
    position: absolute;
    top: 2px;
    border: 0px;
    width: 354px;
    height: 44px;
    padding-left: 16px;
}

.newsletter-form__button {
    margin-left: 12px;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: #2196F3;
    border: 0px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-block: 10px;
    cursor: pointer;
}

.newsletter-form__icon {
    all: unset;
    align-items: center;
    display: block;
    align-items: center;
    padding: 3px;

}